@theme static {
  --animate-blink-0: blink-0 1s step-start 0s infinite;
  --animate-blink-50: blink-50 1s step-start 0s infinite;
  --animate-blink-75: blink-75 1s step-start 0s infinite;

  --color-apple-green-50: #e2f3ed;
  --color-apple-green-100: #dbf0e8;
  --color-apple-green-200: #c8e9dd;
  --color-apple-green-300: #b6e2d2;
  --color-apple-green-400: #a0d9c4;
  --color-apple-green-500: #8fd2b9;
  --color-apple-green-600: #63c09d;
  --color-apple-green-700: #43a782;
  --color-apple-green-800: #327c60;
  --color-apple-green-900: #20503e;
  --color-apple-green-950: #173a2d;

  --color-powder-blue-50: #d9f1f2;
  --color-powder-blue-100: #c9ebed;
  --color-powder-blue-200: #a7dee2;
  --color-powder-blue-300: #81d0d5;
  --color-powder-blue-400: #5ec3ca;
  --color-powder-blue-500: #3eb3bb;
  --color-powder-blue-600: #34969d;
  --color-powder-blue-700: #2a797e;
  --color-powder-blue-800: #215f64;
  --color-powder-blue-900: #174245;
  --color-powder-blue-950: #123336;

  --color-half-baked-50: #d9e9f2;
  --color-half-baked-100: #c6deec;
  --color-half-baked-200: #9bc5de;
  --color-half-baked-300: #75afd1;
  --color-half-baked-400: #4f99c5;
  --color-half-baked-500: #377da6;
  --color-half-baked-600: #2f6b8e;
  --color-half-baked-700: #265773;
  --color-half-baked-800: #1d4258;
  --color-half-baked-900: #163141;
  --color-half-baked-950: #102532;

  --color-kashmir-blue-50: #dee4ed;
  --color-kashmir-blue-100: #d0d9e6;
  --color-kashmir-blue-200: #b3c0d6;
  --color-kashmir-blue-300: #95a7c6;
  --color-kashmir-blue-400: #778fb6;
  --color-kashmir-blue-500: #5875a5;
  --color-kashmir-blue-600: #4b638c;
  --color-kashmir-blue-700: #3c5071;
  --color-kashmir-blue-800: #2e3d56;
  --color-kashmir-blue-900: #202a3c;
  --color-kashmir-blue-950: #19212f;

  @keyframes blink-0 {
    50% {
      opacity: 0;
    }
  }

  @keyframes blink-50 {
    50% {
      opacity: 0.5;
    }
  }

  @keyframes blink-75 {
    50% {
      opacity: 0.75;
    }
  }
}

@theme static {
  /* Status badge colors */
  --color-pending: var(--color-gray-300);
  --color-running: var(--color-half-baked-500);
  --color-aborting: var(--color-yellow-400);
  --color-aborted: var(--color-yellow-400);
  --color-skiped: var(--color-gray-300);
  --color-speeded: var(--color-red-300);
  --color-failed: var(--color-red-300);
  --color-completed: var(--color-apple-green-600);
  --color-broken: var(--color-red-700);
  --color-display: var(--color-green-100);
  --color-network: var(--color-blue-100);
  --color-miscellaneous: var(--color-gray-200);
  --color-builtin: var(--color-orange-200);
}
